<?xml version="1.0"?>
<configuration>
  <compilation debug="true" targetFramework="4.0" />
  <appSettings>
    <add key="MerchantID" value="Progra-7702818"/>
    <add key="Password" value="G6CH6Z90I2"/>
    <!-- The domain ONLY for the hosted payment form - e.g. if the hosted payment form URL is -->
    <!-- https://mms.paymentprocessor.net/Pages/PublicPages/PaymentForm.aspx, then the domain -->
    <!-- will be "paymentprocessor.net" -->
    <add key="PaymentProcessorDomain" value="payvector.net"/>
    <!-- The chosen hash method - can be either "MD5", "SHA1", "HMACMD5" or "HMACSHA1" -->
    <!-- This method MUST match the hash method set for the merchant in the MMS -->
    <add key="HashMethod" value="SHA1"/>
    <!-- This is the PreSharedKey known to both this system and the payment system -->
    <!-- This MUST match the PreSharedKey set for the merchant in the MMS -->
    <add key="PreSharedKey" value="5XNm04UE0/EaXDSeKa4Fw29hTzieAl32uO4="/>
    <add key="ResultDeliveryMethod" value="POST"/>
  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
